body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:376px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1018px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#008000;
}
#u1679 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1018px;
  font-size:14px;
  color:#008000;
}
#u1680 {
  position:absolute;
  left:2px;
  top:501px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:58px;
}
#u1681 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:58px;
  font-size:14px;
}
#u1682 {
  position:absolute;
  left:2px;
  top:21px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1683 {
  position:absolute;
  left:139px;
  top:30px;
  width:98px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1684 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u1685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1685 {
  position:absolute;
  left:8px;
  top:27px;
  width:22px;
  height:22px;
  font-size:14px;
}
#u1686 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1687 {
  position:absolute;
  left:208px;
  top:218px;
  width:149px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1688 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u1689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1689 {
  position:absolute;
  left:205px;
  top:251px;
  width:44px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1690 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1691 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1692 {
  position:absolute;
  left:315px;
  top:247px;
  width:44px;
  height:19px;
  font-size:14px;
}
#u1693 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1694 {
  position:absolute;
  left:326px;
  top:251px;
  width:23px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1695 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1696 {
  position:absolute;
  left:17px;
  top:215px;
  width:88px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1697 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u1698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1698 {
  position:absolute;
  left:202px;
  top:435px;
  width:112px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1699 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u1700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1700 {
  position:absolute;
  left:202px;
  top:467px;
  width:35px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1701 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u1702 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1703 {
  position:absolute;
  left:316px;
  top:464px;
  width:44px;
  height:19px;
  font-size:14px;
}
#u1704 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1705 {
  position:absolute;
  left:327px;
  top:466px;
  width:23px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1706 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1707 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1708 {
  position:absolute;
  left:256px;
  top:252px;
  width:47px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1709 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u1710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u1710 {
  position:absolute;
  left:255px;
  top:259px;
  width:27px;
  height:1px;
  font-size:14px;
}
#u1711 {
  position:absolute;
  left:2px;
  top:-8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1712 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1713 {
  position:absolute;
  left:238px;
  top:468px;
  width:31px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1714 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u1715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u1715 {
  position:absolute;
  left:238px;
  top:476px;
  width:27px;
  height:1px;
  font-size:14px;
}
#u1716 {
  position:absolute;
  left:2px;
  top:-8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1717 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1718 {
  position:absolute;
  left:131px;
  top:244px;
  width:44px;
  height:19px;
  font-size:14px;
}
#u1719 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1720 {
  position:absolute;
  left:136px;
  top:247px;
  width:35px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1721 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u1722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1722 {
  position:absolute;
  left:14px;
  top:439px;
  width:102px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1723 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u1724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1724 {
  position:absolute;
  left:12px;
  top:465px;
  width:48px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1725 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u1726 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1727 {
  position:absolute;
  left:120px;
  top:462px;
  width:44px;
  height:19px;
  font-size:14px;
}
#u1728 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1729 {
  position:absolute;
  left:132px;
  top:464px;
  width:23px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1730 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1731 {
  position:absolute;
  left:14px;
  top:248px;
  width:35px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1732 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u1733 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1734 {
  position:absolute;
  left:56px;
  top:249px;
  width:51px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1735 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u1736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u1736 {
  position:absolute;
  left:55px;
  top:257px;
  width:27px;
  height:1px;
  font-size:14px;
}
#u1737 {
  position:absolute;
  left:2px;
  top:-8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1738 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1739 {
  position:absolute;
  left:63px;
  top:466px;
  width:39px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1740 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u1741 {
  position:absolute;
  left:62px;
  top:474px;
  width:27px;
  height:1px;
  font-size:14px;
}
#u1742 {
  position:absolute;
  left:2px;
  top:-8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:866px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1743 {
  position:absolute;
  left:186px;
  top:61px;
  width:4px;
  height:866px;
  font-size:14px;
}
#u1744 {
  position:absolute;
  left:2px;
  top:425px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:4px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1745 {
  position:absolute;
  left:0px;
  top:278px;
  width:374px;
  height:4px;
  font-size:14px;
}
#u1746 {
  position:absolute;
  left:2px;
  top:-6px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:4px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1747 {
  position:absolute;
  left:0px;
  top:493px;
  width:374px;
  height:4px;
  font-size:14px;
}
#u1748 {
  position:absolute;
  left:2px;
  top:-6px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1749 {
  position:absolute;
  left:14px;
  top:656px;
  width:149px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1750 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u1751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1751 {
  position:absolute;
  left:11px;
  top:687px;
  width:44px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1752 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1753 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1754 {
  position:absolute;
  left:120px;
  top:684px;
  width:44px;
  height:19px;
  font-size:14px;
}
#u1755 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1756 {
  position:absolute;
  left:132px;
  top:686px;
  width:23px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1757 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1758 {
  position:absolute;
  left:202px;
  top:656px;
  width:88px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1759 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u1760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1760 {
  position:absolute;
  left:202px;
  top:877px;
  width:112px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1761 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u1762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1762 {
  position:absolute;
  left:202px;
  top:906px;
  width:35px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1763 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u1764 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1765 {
  position:absolute;
  left:316px;
  top:903px;
  width:44px;
  height:19px;
  font-size:14px;
}
#u1766 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1767 {
  position:absolute;
  left:327px;
  top:906px;
  width:23px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1768 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1769 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1770 {
  position:absolute;
  left:61px;
  top:688px;
  width:47px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1771 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u1772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u1772 {
  position:absolute;
  left:60px;
  top:695px;
  width:27px;
  height:1px;
  font-size:14px;
}
#u1773 {
  position:absolute;
  left:2px;
  top:-8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1774 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1775 {
  position:absolute;
  left:238px;
  top:908px;
  width:31px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1776 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u1777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u1777 {
  position:absolute;
  left:238px;
  top:914px;
  width:27px;
  height:1px;
  font-size:14px;
}
#u1778 {
  position:absolute;
  left:2px;
  top:-8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1779 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1780 {
  position:absolute;
  left:316px;
  top:684px;
  width:44px;
  height:19px;
  font-size:14px;
}
#u1781 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1782 {
  position:absolute;
  left:321px;
  top:687px;
  width:35px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1783 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u1784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1784 {
  position:absolute;
  left:14px;
  top:879px;
  width:102px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1785 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u1786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1786 {
  position:absolute;
  left:12px;
  top:905px;
  width:48px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1787 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u1788 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1789 {
  position:absolute;
  left:120px;
  top:901px;
  width:44px;
  height:19px;
  font-size:14px;
}
#u1790 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1791 {
  position:absolute;
  left:132px;
  top:903px;
  width:23px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1792 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1793 {
  position:absolute;
  left:199px;
  top:690px;
  width:35px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1794 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u1795 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1796 {
  position:absolute;
  left:242px;
  top:689px;
  width:51px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1797 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u1798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u1798 {
  position:absolute;
  left:241px;
  top:697px;
  width:27px;
  height:1px;
  font-size:14px;
}
#u1799 {
  position:absolute;
  left:2px;
  top:-8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1800 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1801 {
  position:absolute;
  left:63px;
  top:906px;
  width:39px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1802 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u1803 {
  position:absolute;
  left:62px;
  top:912px;
  width:27px;
  height:1px;
  font-size:14px;
}
#u1804 {
  position:absolute;
  left:2px;
  top:-8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:4px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1805 {
  position:absolute;
  left:0px;
  top:717px;
  width:374px;
  height:4px;
  font-size:14px;
}
#u1806 {
  position:absolute;
  left:2px;
  top:-6px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:4px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1807 {
  position:absolute;
  left:0px;
  top:930px;
  width:374px;
  height:4px;
  font-size:14px;
}
#u1808 {
  position:absolute;
  left:2px;
  top:-6px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:4px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1809 {
  position:absolute;
  left:0px;
  top:56px;
  width:374px;
  height:4px;
  font-size:14px;
}
#u1810 {
  position:absolute;
  left:2px;
  top:-6px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:143px;
  background:inherit;
  background-color:rgba(143, 163, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1811 {
  position:absolute;
  left:22px;
  top:508px;
  width:144px;
  height:143px;
}
#u1812 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:143px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1813 {
  position:absolute;
  left:215px;
  top:508px;
  width:144px;
  height:143px;
}
#u1814 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:143px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1815 {
  position:absolute;
  left:22px;
  top:731px;
  width:144px;
  height:143px;
}
#u1816 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:143px;
  background:inherit;
  background-color:rgba(143, 163, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1817 {
  position:absolute;
  left:215px;
  top:731px;
  width:144px;
  height:143px;
}
#u1818 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:143px;
  background:inherit;
  background-color:rgba(143, 163, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1819 {
  position:absolute;
  left:22px;
  top:69px;
  width:144px;
  height:143px;
}
#u1820 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:143px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1821 {
  position:absolute;
  left:215px;
  top:69px;
  width:144px;
  height:143px;
}
#u1822 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:143px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1823 {
  position:absolute;
  left:22px;
  top:293px;
  width:144px;
  height:143px;
}
#u1824 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:143px;
  background:inherit;
  background-color:rgba(143, 163, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1825 {
  position:absolute;
  left:215px;
  top:293px;
  width:144px;
  height:143px;
}
#u1826 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1828 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1829 {
  position:absolute;
  left:170px;
  top:6px;
  width:36px;
  height:15px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1830 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1831 {
  position:absolute;
  left:310px;
  top:6px;
  width:28px;
  height:15px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1832 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:12px;
}
#u1833 {
  position:absolute;
  left:342px;
  top:7px;
  width:26px;
  height:12px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
}
#u1834 {
  position:absolute;
  left:2px;
  top:-2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u1835 {
  position:absolute;
  left:112px;
  top:8px;
  width:14px;
  height:10px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  color:#4B5E6A;
}
#u1836 {
  position:absolute;
  left:2px;
  top:-3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1837 {
  position:absolute;
  left:57px;
  top:6px;
  width:49px;
  height:15px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1838 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1839 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1840 {
  position:absolute;
  left:16px;
  top:10px;
  width:7px;
  height:7px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
}
#u1841 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1842 {
  position:absolute;
  left:25px;
  top:10px;
  width:7px;
  height:7px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
}
#u1843 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1844 {
  position:absolute;
  left:35px;
  top:10px;
  width:7px;
  height:7px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
}
#u1845 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1846 {
  position:absolute;
  left:44px;
  top:10px;
  width:7px;
  height:7px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
}
#u1847 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1848 {
  position:absolute;
  left:7px;
  top:10px;
  width:7px;
  height:7px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
}
#u1849 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
}
#u1850 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:26px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
}
#u1851 {
  position:absolute;
  left:2px;
  top:5px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
