body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:376px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1018px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#008000;
}
#u1619 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1018px;
  font-size:14px;
  color:#008000;
}
#u1620 {
  position:absolute;
  left:2px;
  top:501px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1621 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:58px;
}
#u1622 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:58px;
  font-size:14px;
}
#u1623 {
  position:absolute;
  left:2px;
  top:21px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1624 {
  position:absolute;
  left:139px;
  top:30px;
  width:98px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1625 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u1626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1626 {
  position:absolute;
  left:8px;
  top:27px;
  width:22px;
  height:22px;
  font-size:14px;
}
#u1627 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1628 {
  position:absolute;
  left:208px;
  top:273px;
  width:149px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1629 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u1630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1630 {
  position:absolute;
  left:205px;
  top:306px;
  width:44px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1631 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1632 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1633 {
  position:absolute;
  left:315px;
  top:302px;
  width:44px;
  height:19px;
  font-size:14px;
}
#u1634 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1635 {
  position:absolute;
  left:326px;
  top:306px;
  width:23px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1636 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1637 {
  position:absolute;
  left:17px;
  top:270px;
  width:88px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1638 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u1639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1639 {
  position:absolute;
  left:202px;
  top:490px;
  width:112px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1640 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u1641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1641 {
  position:absolute;
  left:202px;
  top:522px;
  width:35px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1642 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u1643 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1644 {
  position:absolute;
  left:316px;
  top:519px;
  width:44px;
  height:19px;
  font-size:14px;
}
#u1645 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1646 {
  position:absolute;
  left:327px;
  top:521px;
  width:23px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1647 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1648 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1649 {
  position:absolute;
  left:256px;
  top:307px;
  width:47px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1650 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u1651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u1651 {
  position:absolute;
  left:255px;
  top:314px;
  width:27px;
  height:1px;
  font-size:14px;
}
#u1652 {
  position:absolute;
  left:2px;
  top:-8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1653 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1654 {
  position:absolute;
  left:238px;
  top:523px;
  width:31px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1655 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u1656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u1656 {
  position:absolute;
  left:238px;
  top:531px;
  width:27px;
  height:1px;
  font-size:14px;
}
#u1657 {
  position:absolute;
  left:2px;
  top:-8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1658 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1659 {
  position:absolute;
  left:131px;
  top:299px;
  width:44px;
  height:19px;
  font-size:14px;
}
#u1660 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1661 {
  position:absolute;
  left:136px;
  top:302px;
  width:35px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1662 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u1663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1663 {
  position:absolute;
  left:14px;
  top:494px;
  width:102px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1664 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u1665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1665 {
  position:absolute;
  left:12px;
  top:520px;
  width:48px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1666 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u1667 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1668 {
  position:absolute;
  left:120px;
  top:517px;
  width:44px;
  height:19px;
  font-size:14px;
}
#u1669 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1670 {
  position:absolute;
  left:132px;
  top:519px;
  width:23px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1671 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1672 {
  position:absolute;
  left:14px;
  top:303px;
  width:35px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1673 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u1674 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1675 {
  position:absolute;
  left:56px;
  top:304px;
  width:51px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1676 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u1677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u1677 {
  position:absolute;
  left:55px;
  top:312px;
  width:27px;
  height:1px;
  font-size:14px;
}
#u1678 {
  position:absolute;
  left:2px;
  top:-8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1679 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1680 {
  position:absolute;
  left:63px;
  top:521px;
  width:39px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1681 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u1682 {
  position:absolute;
  left:62px;
  top:529px;
  width:27px;
  height:1px;
  font-size:14px;
}
#u1683 {
  position:absolute;
  left:2px;
  top:-8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:866px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1684 {
  position:absolute;
  left:186px;
  top:116px;
  width:4px;
  height:866px;
  font-size:14px;
}
#u1685 {
  position:absolute;
  left:2px;
  top:425px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:4px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1686 {
  position:absolute;
  left:0px;
  top:333px;
  width:374px;
  height:4px;
  font-size:14px;
}
#u1687 {
  position:absolute;
  left:2px;
  top:-6px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:4px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1688 {
  position:absolute;
  left:0px;
  top:548px;
  width:374px;
  height:4px;
  font-size:14px;
}
#u1689 {
  position:absolute;
  left:2px;
  top:-6px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1690 {
  position:absolute;
  left:14px;
  top:711px;
  width:149px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1691 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u1692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1692 {
  position:absolute;
  left:11px;
  top:742px;
  width:44px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1693 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1694 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1695 {
  position:absolute;
  left:120px;
  top:739px;
  width:44px;
  height:19px;
  font-size:14px;
}
#u1696 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1697 {
  position:absolute;
  left:132px;
  top:741px;
  width:23px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1698 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1699 {
  position:absolute;
  left:202px;
  top:711px;
  width:88px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1700 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u1701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1701 {
  position:absolute;
  left:202px;
  top:932px;
  width:112px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1702 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u1703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1703 {
  position:absolute;
  left:202px;
  top:961px;
  width:35px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1704 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u1705 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1706 {
  position:absolute;
  left:316px;
  top:958px;
  width:44px;
  height:19px;
  font-size:14px;
}
#u1707 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1708 {
  position:absolute;
  left:327px;
  top:961px;
  width:23px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1709 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1710 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1711 {
  position:absolute;
  left:61px;
  top:743px;
  width:47px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1712 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u1713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u1713 {
  position:absolute;
  left:60px;
  top:750px;
  width:27px;
  height:1px;
  font-size:14px;
}
#u1714 {
  position:absolute;
  left:2px;
  top:-8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1715 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1716 {
  position:absolute;
  left:238px;
  top:963px;
  width:31px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1717 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u1718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u1718 {
  position:absolute;
  left:238px;
  top:969px;
  width:27px;
  height:1px;
  font-size:14px;
}
#u1719 {
  position:absolute;
  left:2px;
  top:-8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1720 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1721 {
  position:absolute;
  left:316px;
  top:739px;
  width:44px;
  height:19px;
  font-size:14px;
}
#u1722 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1723 {
  position:absolute;
  left:321px;
  top:742px;
  width:35px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1724 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u1725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1725 {
  position:absolute;
  left:14px;
  top:934px;
  width:102px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1726 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u1727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1727 {
  position:absolute;
  left:12px;
  top:960px;
  width:48px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1728 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u1729 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1730 {
  position:absolute;
  left:120px;
  top:956px;
  width:44px;
  height:19px;
  font-size:14px;
}
#u1731 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1732 {
  position:absolute;
  left:132px;
  top:958px;
  width:23px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u1733 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1734 {
  position:absolute;
  left:199px;
  top:745px;
  width:35px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u1735 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u1736 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1737 {
  position:absolute;
  left:242px;
  top:744px;
  width:51px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1738 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u1739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u1739 {
  position:absolute;
  left:241px;
  top:752px;
  width:27px;
  height:1px;
  font-size:14px;
}
#u1740 {
  position:absolute;
  left:2px;
  top:-8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1741 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1742 {
  position:absolute;
  left:63px;
  top:961px;
  width:39px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1743 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u1744 {
  position:absolute;
  left:62px;
  top:967px;
  width:27px;
  height:1px;
  font-size:14px;
}
#u1745 {
  position:absolute;
  left:2px;
  top:-8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:4px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1746 {
  position:absolute;
  left:0px;
  top:772px;
  width:374px;
  height:4px;
  font-size:14px;
}
#u1747 {
  position:absolute;
  left:2px;
  top:-6px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:4px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1748 {
  position:absolute;
  left:0px;
  top:985px;
  width:374px;
  height:4px;
  font-size:14px;
}
#u1749 {
  position:absolute;
  left:2px;
  top:-6px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:4px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1750 {
  position:absolute;
  left:0px;
  top:111px;
  width:374px;
  height:4px;
  font-size:14px;
}
#u1751 {
  position:absolute;
  left:2px;
  top:-6px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1752 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1753 {
  position:absolute;
  left:1px;
  top:1056px;
  width:375px;
  height:78px;
  font-size:14px;
  color:#999999;
}
#u1754 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u1755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1755 {
  position:absolute;
  left:0px;
  top:1021px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1756 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:143px;
  background:inherit;
  background-color:rgba(143, 163, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1757 {
  position:absolute;
  left:22px;
  top:563px;
  width:144px;
  height:143px;
}
#u1758 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:143px;
  background:inherit;
  background-color:rgba(143, 163, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1759 {
  position:absolute;
  left:215px;
  top:563px;
  width:144px;
  height:143px;
}
#u1760 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:143px;
  background:inherit;
  background-color:rgba(143, 163, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1761 {
  position:absolute;
  left:22px;
  top:786px;
  width:144px;
  height:143px;
}
#u1762 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:143px;
  background:inherit;
  background-color:rgba(143, 163, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1763 {
  position:absolute;
  left:215px;
  top:786px;
  width:144px;
  height:143px;
}
#u1764 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:143px;
  background:inherit;
  background-color:rgba(143, 163, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1765 {
  position:absolute;
  left:22px;
  top:124px;
  width:144px;
  height:143px;
}
#u1766 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:143px;
  background:inherit;
  background-color:rgba(143, 163, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1767 {
  position:absolute;
  left:215px;
  top:124px;
  width:144px;
  height:143px;
}
#u1768 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:143px;
  background:inherit;
  background-color:rgba(143, 163, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1769 {
  position:absolute;
  left:22px;
  top:348px;
  width:144px;
  height:143px;
}
#u1770 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:143px;
  background:inherit;
  background-color:rgba(143, 163, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1771 {
  position:absolute;
  left:215px;
  top:348px;
  width:144px;
  height:143px;
}
#u1772 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1773 {
  position:absolute;
  left:35px;
  top:75px;
  width:29px;
  height:16px;
}
#u1774 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1775 {
  position:absolute;
  left:214px;
  top:77px;
  width:29px;
  height:16px;
}
#u1776 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1777 {
  position:absolute;
  left:125px;
  top:76px;
  width:29px;
  height:16px;
}
#u1778 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u1779 {
  position:absolute;
  left:239px;
  top:73px;
  width:25px;
  height:26px;
  font-size:14px;
}
#u1780 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1781 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1782 {
  position:absolute;
  left:304px;
  top:75px;
  width:29px;
  height:16px;
}
#u1783 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:11px;
}
#u1784 {
  position:absolute;
  left:332px;
  top:76px;
  width:15px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1785 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
